.Header {
  position: absolute;
  width: 100vw;
  height: 60px;
  background-color: rgba(0,0,10,0.9);
  color: #eeeeee;
  z-index: 1;
  box-shadow: 0 0 4px 2px rgba(0,0,0,.5);
}

.HeaderTitle {
  padding: 0 0 0 24px;
  margin: 0;
  line-height: 60px;
  font-size: 32px;
}

.HeaderIcon {
  display: none;
}

@media (max-width: 900px) {
  .Header {
    position: relative;
    vertical-align: bottom;
  }
  .HeaderTitle {
    padding: 0 0 0 76px;
  }

  .HeaderIcon {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    margin: 10px 16px;
    width: 40px;
    height: 40px;
    background: url('../icons/menu_icon.svg') no-repeat center;
  }
}